<ion-header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <pivot-back-btn (click)="app.history.back();"></pivot-back-btn>
            <pivot-header [page]="page" [delegate]="false"></pivot-header>
        </div>
    </nav>
</ion-header> 

<ion-content [fullscreen]="true">
    <div class="container">
        
        <ion-grid class="flex-grow">

            <ion-row class="ion-padding">
                <ion-col>
                    <h1>{{local.string.slots_h_1}}</h1>
                    <p>{{local.string.slots_h_2}} <strong>{{deck.industria?deck.industria:'______'}}</strong>.</p>
                    <p>{{local.string.slots_h_3_}} <strong>{{local.string.slots_h_3_b}} </strong> {{local.string.slots_h_3_2}}.</p>
                </ion-col>
            </ion-row>

            <ion-row  class="ion-padding-vertical">
                <ion-col size-md="10" size-sm="6" class="ion-text-center">
                    <ion-item>
                        <ion-label position="floating">{{local.string.prod_or_serv}}</ion-label>
                        <ion-input ngDefaultControl [(ngModel)]="deck.industria" (keyup)="deck.updatePitch()"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size-md="2"  size-sm="6" class="ion-text-right">
                    <button mat-raised-button color="primary" (click)="runSlots()">
                        {{local.string.play}}
                        <i class="material-icons">replay</i>
                    </button>                    
                </ion-col>
            </ion-row>
            
            <ion-row class="ion-padding slots" [ngClass]="{'hide-interaction':!interactionAllowed}">
                <ion-col size-sm="6" size-lg="3" class="ion-justify-content-evenly">
                    <pivot-label-btn color="red"></pivot-label-btn>
                    <card-slot [animated]="true" [size]="1" #slot_red (onInit)="registerSlot('red', slot_red)" color="red" (onChange)="onCardChange('red', $event)"></card-slot>
                    <button mat-raised-button [disabled]="holds.red" color="red" class="hold-btn" (click)="hold('red', slot_red)"> {{local.string.hold}} </button>
                </ion-col>
                <ion-col size-sm="6" size-lg="3" class="ion-justify-content-evenly">
                    <pivot-label-btn color="blue"></pivot-label-btn>
                    <card-slot [animated]="true" [size]="2" #slot_blue (onInit)="registerSlot('blue', slot_blue)" color="blue" (onChange)="onCardChange('blue', $event)"></card-slot>
                    <button mat-raised-button [disabled]="holds.blue" color="blue" class="hold-btn" (click)="hold('blue', slot_blue)"> {{local.string.hold}} </button>
                </ion-col>
                <ion-col size-sm="6" size-lg="3" class="ion-justify-content-evenly">
                    <pivot-label-btn color="green"></pivot-label-btn>
                    <card-slot [animated]="true" [size]="3" #slot_green (onInit)="registerSlot('green', slot_green)" color="green" (onChange)="onCardChange('green', $event)"></card-slot>
                    <button mat-raised-button [disabled]="holds.green" color="green" class="hold-btn" (click)="hold('green', slot_green)"> {{local.string.hold}} </button>
                </ion-col>
                <ion-col size-sm="6" size-lg="3" class="ion-justify-content-evenly">
                    <pivot-label-btn color="yellow"></pivot-label-btn>
                    <card-slot [animated]="true" [size]="4" #slot_yellow (onInit)="registerSlot('yellow', slot_yellow)" color="yellow" (onChange)="onCardChange('yellow', $event)"></card-slot>
                    <button mat-raised-button [disabled]="holds.yellow" color="yellow" class="hold-btn" (click)="hold('yellow', slot_yellow)"> {{local.string.hold}} </button>
                </ion-col>
                <!-- -->
            </ion-row>


            <!-- goto canvas -->
            <ion-row class="counter flex-grow ion-margin-vertical">
                <ion-col class="ion-text-right">
                    <button mat-raised-button color="accent" (click)="clearAll()">
                        <span class="d-none d-md-inline">{{local.string.clean}}</span>
                        <i class="material-icons">delete</i>
                    </button>
                    &nbsp;
                    <button mat-raised-button [disabled]="!showGoToCanvas" color="primary" (click)="toCanvas()">
                        <span class="d-none d-md-inline">{{local.string.canvas}}</span>
                        <i class="material-icons">navigate_next</i>
                    </button>
                </ion-col>
            </ion-row>

            <ion-row class="no-padding">
                <ion-col size="2" class="d-none d-md-block"></ion-col>
                <ion-col size-md="8" size-sm="12" class="ion-text-left ion-padding">
                    <pivot-pitch
                        [editable]="interactionAllowed"
                        [matTooltip]="local.string.pitch_tooltip"
                        matTooltipPosition="above"
                    ></pivot-pitch>
                </ion-col>
                <ion-col size="2" class="d-none d-md-block"></ion-col>
            </ion-row>

        </ion-grid>

    </div>
</ion-content>