<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{page}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row  class="ion-padding">
            <ion-col></ion-col>
            <ion-col class="ion-text-center">
                <ion-item>
                    <ion-label position="floating">Tipo de industria</ion-label>
                    <ion-input ngDefaultControl [(ngModel)]="deck.industria"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-button color="primary" (click)="runSlots()">Jugar</ion-button>
            </ion-col>
        </ion-row>
        <ion-row  class="ion-padding">
            <ion-col class="ion-justify-content-evenly">
                <card-slot #slot_red (onInit)="registerSlot('red', slot_red)" color="red" (onChange)="onCardChange('red', $event)"></card-slot>
            </ion-col>
            <ion-col class="ion-justify-content-evenly">
                <card-slot #slot_blue (onInit)="registerSlot('blue', slot_blue)" color="blue" (onChange)="onCardChange('blue', $event)"></card-slot>
            </ion-col>
            <ion-col class="ion-justify-content-evenly">
                <card-slot #slot_green (onInit)="registerSlot('green', slot_green)" color="green" (onChange)="onCardChange('green', $event)"></card-slot>
            </ion-col>
            <ion-col class="ion-justify-content-evenly">
                <card-slot #slot_yellow (onInit)="registerSlot('yellow', slot_yellow)" color="yellow" (onChange)="onCardChange('yellow', $event)"></card-slot>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding">
            <ion-col class="ion-text-center">
                {{pitch}}
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding">
            <ion-col class="ion-text-center">
                <ion-button color="primary" (click)="toCanvas()">Canvas</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>