<ion-header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <pivot-back-btn (click)="app.history.back();"></pivot-back-btn>
    </nav>
</ion-header> 

<ion-content [fullscreen]="true">
    <div class="container">

        
        <ion-grid class="flex-grow">
            
            <ion-row class="ion-padding">
                <ion-col>
                    <h1>Dinámica de Tragamonedas</h1>
                    <p>En esta propuesta te invitamos a jugar con tu suerte para crear un modelo de negocio innovador relacionado con <strong>{{deck.industria}}</strong>.</p>
                    <p>Para jugar debes hacer <strong>click sobre el botón 'Jugar'</strong> y espera a lo que te depare la suerte en esta mecánica que imita las máquinas tragamonedas.</p>
                </ion-col>
            </ion-row>  
        
            <ion-row  class="ion-padding">
                <ion-col size="2"></ion-col>
                <ion-col size="8" class="ion-text-center">
                    <ion-item>
                        <ion-label position="floating">Producto o Servicio</ion-label>
                        <ion-input ngDefaultControl [(ngModel)]="deck.industria" (keyup)="onIndustriaChange()"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="2">
                    <button mat-raised-button color="primary" (click)="runSlots()">
                        Jugar
                        <i class="material-icons">replay</i>
                    </button>                    
                </ion-col>
            </ion-row>

            <ion-row  class="ion-padding">
                <ion-col class="ion-justify-content-evenly">
                    <card-slot #slot_red animated="true" (onInit)="registerSlot('red', slot_red)" color="red" (onChange)="onCardChange('red', $event)"></card-slot>
                </ion-col>
                <!--
                <ion-col class="ion-justify-content-evenly">
                    <card-slot #slot_blue (onInit)="registerSlot('blue', slot_blue)" color="blue" (onChange)="onCardChange('blue', $event)"></card-slot>
                </ion-col>
                <ion-col class="ion-justify-content-evenly">
                    <card-slot #slot_green (onInit)="registerSlot('green', slot_green)" color="green" (onChange)="onCardChange('green', $event)"></card-slot>
                </ion-col>
                <ion-col class="ion-justify-content-evenly">
                    <card-slot #slot_yellow (onInit)="registerSlot('yellow', slot_yellow)" color="yellow" (onChange)="onCardChange('yellow', $event)"></card-slot>
                </ion-col>
                -->
            </ion-row>
            <ion-row class="no-padding">
                <ion-col size="2"></ion-col>
                <ion-col size="8" class="ion-text-left ion-padding">
                    <editable-text
                        matTooltip="click para editar el texto"
                        matTooltipPosition="above"
                        [text]="deck.pitch" (onedit)="onEditPitch($event)"></editable-text>
                </ion-col>
                <ion-col size="2"></ion-col>
            </ion-row>
            <ion-row class="ion-padding">
                <ion-col class="ion-text-center">
                    <button mat-raised-button [disabled]="!showGoToCanvas" color="primary" (click)="toCanvas()">
                        Canvas
                        <i class="material-icons">navigate_next</i>
                    </button>
                </ion-col>
            </ion-row>

        </ion-grid>

    </div>
</ion-content>