<ion-row class="counter flex-grow mat-elevation-z2 ion-padding">
    <ion-col class="ion-text-center">
        <span class="text-danger"> {{count?.red}} {{count?.red == 1 ? local.string.card : local.string.cards}} </span>
    </ion-col>
    <ion-col class="ion-text-center">
        <span class="text-primary">{{count?.blue}} {{count?.blue == 1 ? local.string.card : local.string.cards}}</span>
    </ion-col>
    <ion-col class="ion-text-center">
        <span class="text-success">{{count?.green}} {{count?.green == 1 ? local.string.card : local.string.cards}}</span>
    </ion-col>
    <ion-col class="ion-text-center">
        <span class="text-warning">{{count?.yellow}} {{count?.yellow == 1 ? local.string.card : local.string.cards}}</span>
    </ion-col>
</ion-row>