<!-- 
<div>vale por un input</div>
-->
<form>
    <mat-form-field class="d-block">
        <mat-label>{{local.string.prod_o_serv}}</mat-label>
        
        <input matInput [(ngModel)]="deck.industria" [formControl]="ctrl" [errorStateMatcher]="matcher"
                        (input)="onValueChange($event)"
                        [placeholder]="local.string.prod_or_serv_example"
                        #setFocusField
                        >

        

        <mat-error [hidden]="ctrl.status == 'VALID'">
            <strong>{{local.string.prod_or_serv_err_b}}</strong> {{local.string.prod_or_serv_err_2}}.
        </mat-error>

    </mat-form-field>

</form>
