<ion-header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <pivot-back-btn (click)="app.history.back();"></pivot-back-btn>
            <pivot-header [page]="page" [delegate]="false"></pivot-header>
        </div>
    </nav>
</ion-header> 

<ion-content [fullscreen]="true">
    <div class="container">

        
        <ion-grid class="flex-grow">
            
            <ion-row class="ion-padding">
                <ion-col>
                    <h1>Dinámica de Selección</h1>
                    <p>En esta propuesta te invitamos a buscar libremente entre las cartas disponibles y elegir un subconjunto para trabajar con ellas posteriormente sobre el canvas para crear un modelo de negocio innovador relacionado con <strong>{{deck.industria}}</strong>.</p>
                    <p>Para seleccionar o desseleccionar debes hacer <strong>click sobre las cartas</strong>, mientras que los botones <strong>&lt;</strong> y <strong>&gt;</strong> te permitiran rotar las cartas disponibles.</p>
                </ion-col>
            </ion-row>
            
            <ion-row class="ion-padding-vertical">
                <ion-col size="2"></ion-col>
                <ion-col size="8">
                    <ion-item>
                        <ion-label position="floating">Producto o Servicio</ion-label>
                        <ion-input ngDefaultControl [(ngModel)]="deck.industria" (keyup)="deck.updatePitch()"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="2"></ion-col>
            </ion-row>


            <!-- Cartas de cada color: con sus respectivos colores -->
            <ion-row class="no-padding">
                <ion-col>
                    <pivot-four-slots
                        [show_label]="true"
                        [deck]="deck.availables"
                        (oncard)="onCardClick($event)"
                        (oninit)="onSlotsReady($event)"
                    ></pivot-four-slots>
                </ion-col>
            </ion-row>

            
            <ion-row class="counter flex-grow ion-margin-vertical">
                <ion-col class="ion-text-left ion-align-items-end d-flex">
                    <span [hidden]="deck.selection.length != 0">Debes seleccionar al menos una carta de cada color</span>
                    <span [hidden]="deck.selection.length == 0">Has seleccionado {{deck.selection.length}} {{deck.selection.length == 1 ? 'carta' : 'cartas'}} </span>
                </ion-col>
                <ion-col class="ion-text-right">
                    <button mat-raised-button color="accent" (click)="clearAll()">
                        Limpiar
                        <i class="material-icons">delete</i>
                    </button>
                    &nbsp;                    
                    <button mat-raised-button [disabled]="!showGoToCanvas" color="primary" (click)="goToCanvas()">
                        Canvas
                        <i class="material-icons">navigate_next</i>
                    </button>
                </ion-col>
            </ion-row>
            
            <!-- counter -->
            <pivot-counter [deck]="deck.selection" (oninit)="onCounterInit($event)"></pivot-counter>                 

            <!-- Seleccion -->
            <ion-row *ngIf="counter" class="no-padding slots flex-grow ion-align-items-start ion-justify-content-start ion-margin-top">
                <ion-col>
                    <!-- <pivot-label-btn color="red"></pivot-label-btn> -->
                    <color-card-list
                        color="red"
                        [deck]="deck.selection"
                        (oninit)="onListReady('red', $event)"
                        (onclick)="onCardClick($event)"
                    ></color-card-list>
                </ion-col>
                <ion-col>
                    <!-- <pivot-label-btn color="blue"></pivot-label-btn> -->
                    <color-card-list
                        color="blue"
                        [deck]="deck.selection"
                        (oninit)="onListReady('blue', $event)"
                        (onclick)="onCardClick($event)"
                    ></color-card-list>
                </ion-col>
                <ion-col>
                    <!-- <pivot-label-btn color="green"></pivot-label-btn> -->
                    <color-card-list
                        color="green"
                        [deck]="deck.selection"
                        (oninit)="onListReady('green', $event)"
                        (onclick)="onCardClick($event)"
                    ></color-card-list>
                </ion-col>
                <ion-col>
                    <!-- <pivot-label-btn color="yellow"></pivot-label-btn> -->
                    <color-card-list
                        color="yellow"
                        [deck]="deck.selection"
                        (oninit)="onListReady('yellow', $event)"
                        (onclick)="onCardClick($event)"
                    ></color-card-list>
                </ion-col>                                                
            </ion-row>

            

            <!-- TEMP: seleccion -->
            <!--
            <ion-row class="flex-grow ion-align-items-center ion-justify-content-center ion-margin-top">
                <ion-col class="ion-align-self-center ion-text-center">
                    
                    <pivot-deck
                        [cardWidth]="350"
                        [deck]="deck.selection"
                        (onCardClick)="onCardClick($event)"
                    ></pivot-deck>
    
    
                </ion-col>
            </ion-row>
            -->

        </ion-grid>        

    </div>



</ion-content>