<ion-header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <pivot-back-btn (click)="app.history.back();"></pivot-back-btn>
            <pivot-header [page]="page" [delegate]="false"></pivot-header>
        </div>
    </nav>
</ion-header> 

<ion-content [fullscreen]="true">
    <div class="container">

        <ion-grid class="flex-grow">
            
            <ion-row class="ion-padding">
                <ion-col>
                    <h1>{{local.string.selec_h_1}}</h1>
                    <p>{{local.string.selec_h_2}} <strong>{{deck.industria}}</strong>.</p>
                    <p>{{local.string.selec_h_3_}} <strong>{{local.string.selec_h_3_b}}</strong>, {{local.string.selec_h_3_2}} <strong>&lt;</strong> y <strong>&gt;</strong> {{local.string.selec_h_3_3}}.</p>
                </ion-col>
            </ion-row>
            
            <ion-row class="ion-padding-vertical">
                <ion-col size="2"></ion-col>
                <ion-col size="8">
                    <ion-item>
                        <ion-label position="floating">{{local.string.prod_or_serv}}</ion-label>
                        <ion-input ngDefaultControl [(ngModel)]="deck.industria" (keyup)="deck.updatePitch()"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="2"></ion-col>
            </ion-row>


            <!-- Cartas de cada color: con sus respectivos colores -->
            <ion-row class="no-padding">
                <ion-col>
                    <pivot-four-slots
                        [show_label]="true"
                        [deck]="deck.availables"
                        (oncard)="onCardClick($event)"
                        (oninit)="onSlotsReady($event)"
                    ></pivot-four-slots>
                </ion-col>
            </ion-row>

            
            <ion-row class="counter flex-grow ion-margin-top">
                <ion-col class="ion-text-left ion-align-items-end d-flex">
                    <span [hidden]="deck.selection.length != 0">{{local.string.must_select}} </span>
                    <span [hidden]="deck.selection.length == 0">{{local.string.have_selected}} {{deck.selection.length}} {{deck.selection.length == 1 ? local.string.card : local.string.cards}} </span>
                </ion-col>
                <ion-col class="ion-text-right">
                    <button mat-raised-button color="accent" (click)="clearAll()">
                        <span class="d-none d-md-inline">{{local.string.clean}}</span>
                        <i class="material-icons">delete</i>
                    </button>
                    &nbsp;                    
                    <button mat-raised-button [disabled]="!showGoToCanvas" color="primary" (click)="goToCanvas()">
                        <span class="d-none d-md-inline">{{local.string.canvas}}</span>
                        <i class="material-icons">navigate_next</i>
                    </button>
                </ion-col>
            </ion-row>
            
            <!-- counter -->
            <pivot-counter [deck]="deck.selection" (oninit)="onCounterInit($event)"></pivot-counter>                 

            <!-- Seleccion -->
            <ion-row *ngIf="counter" class="no-padding slots flex-grow ion-align-items-start ion-justify-content-start ion-margin-top">
                <ion-col size="6" size-sm>
                    <!-- <pivot-label-btn color="red"></pivot-label-btn> -->
                    <color-card-list
                        color="red"
                        [deck]="deck.selection"
                        (oninit)="onListReady('red', $event)"
                        (onclick)="onCardClick($event)"
                    ></color-card-list>
                </ion-col>
                <ion-col size="6" size-sm>
                    <!-- <pivot-label-btn color="blue"></pivot-label-btn> -->
                    <color-card-list
                        color="blue"
                        [deck]="deck.selection"
                        (oninit)="onListReady('blue', $event)"
                        (onclick)="onCardClick($event)"
                    ></color-card-list>
                </ion-col>
                <ion-col size="6" size-sm>
                    <!-- <pivot-label-btn color="green"></pivot-label-btn> -->
                    <color-card-list
                        color="green"
                        [deck]="deck.selection"
                        (oninit)="onListReady('green', $event)"
                        (onclick)="onCardClick($event)"
                    ></color-card-list>
                </ion-col>
                <ion-col size="6" size-sm>
                    <!-- <pivot-label-btn color="yellow"></pivot-label-btn> -->
                    <color-card-list
                        color="yellow"
                        [deck]="deck.selection"
                        (oninit)="onListReady('yellow', $event)"
                        (onclick)="onCardClick($event)"
                    ></color-card-list>
                </ion-col>                                                
            </ion-row>
            
        </ion-grid>        

    </div>



</ion-content>