<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{page}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <ion-grid class="flex-grow">

        <ion-row class="flex-grow ion-align-items-center ion-justify-content-center ion-margin-top ion-margin-horizontal">

            <ion-col class="ion-align-self-center ion-text-left">
                
                <ion-button color="primary" (click)="goHome()">Home</ion-button>
                &nbsp;
                &nbsp;
                <ion-button color="primary" (click)="unshift()">anterior</ion-button>
                <ion-button color="primary" (click)="shift()">siguiente</ion-button>
                &nbsp;
                &nbsp;
                <ion-button color="primary" (click)="ordenarAvailables($event)">Ordenar</ion-button>
            </ion-col>

            <ion-col class="ion-align-self-center ion-text-right">
                
                <ion-button color="dark" (click)="filterColor('all')">Todo</ion-button>
                &nbsp;
                &nbsp;
                <ion-button color="red" (click)="filterColor('red')">Qué?</ion-button>
                <ion-button color="blue" (click)="filterColor('blue')">Quién?</ion-button>
                <ion-button color="green" (click)="filterColor('green')">Cómo?</ion-button>
                <ion-button color="yellow" (click)="filterColor('yellow')">Cuánto?</ion-button>

                
            </ion-col>
        </ion-row>

        <ion-row class="flex-grow ion-align-items-center ion-justify-content-center ion-margin-top">
            <ion-col class="ion-align-self-center ion-text-center">
                
                <pivot-deck
                    [cardWidth]="350"
                    [deck]="availables"
                    (onCardClick)="onCardClick($event)"
                ></pivot-deck>


            </ion-col>
        </ion-row>

        <ion-row class="flex-grow ion-align-items-center ion-justify-content-center ion-margin-top ion-margin-horizontal">
            <ion-col class="ion-align-self-center ion-text-right" [hidden]="selection.length == 0">
                
                <hr>

                
            </ion-col>
        </ion-row>        

        <ion-row class="flex-grow ion-align-items-center ion-justify-content-center ion-margin-top ion-margin-horizontal">
            <ion-col class="ion-align-self-center ion-text-left">
                
                <ion-label [hidden]="service.selection.length < 0"><b>Total: {{service.selection.length}}</b></ion-label>

                <ion-label [hidden]="filter_color != 'all'"><b> (</b></ion-label>
                <ion-label [hidden]="filter_color != 'all'" color="red" ><b>{{service.filterColor('red', service.selection).length}}</b></ion-label>
                <ion-label [hidden]="filter_color != 'all'" color="blue"><b>, {{service.filterColor('blue', service.selection).length}}</b></ion-label>
                <ion-label [hidden]="filter_color != 'all'" color="green"><b>, {{service.filterColor('green', service.selection).length}}</b></ion-label>
                <ion-label [hidden]="filter_color != 'all'" color="yellow"><b>, {{service.filterColor('yellow', service.selection).length}}</b></ion-label>
                <ion-label [hidden]="filter_color != 'all'"><b>)</b></ion-label>

                <br/>
                <ion-label [color]="filter_color" [hidden]="filter_color == 'all'"><b>Sub-total: {{selection.length}}</b><br/></ion-label>


            <!--
                <ion-label color="red" [hidden]="filter_color != 'all'"><b>Sub-total: {{service.filterColor('red', service.selection).length}}</b><br/></ion-label>
                <ion-label color="blue" [hidden]="filter_color != 'all'"><b>Sub-total: {{service.filterColor('blue', service.selection).length}}</b><br/></ion-label>
                <ion-label color="green" [hidden]="filter_color != 'all'"><b>Sub-total: {{service.filterColor('green', service.selection).length}}</b><br/></ion-label>
                <ion-label color="yellow" [hidden]="filter_color != 'all'"><b>Sub-total: {{service.filterColor('yellow', service.selection).length}}</b><br/></ion-label>

            -->
                
            </ion-col>
            <ion-col class="ion-align-self-center ion-text-right" [hidden]="selection.length == 0">
                
                <ion-button color="primary" (click)="ordenarSeleccion($event)">Ordenar</ion-button>

            </ion-col>            
        </ion-row>

        <ion-row class="flex-grow ion-align-items-center ion-justify-content-center ion-margin-top">
            <ion-col class="ion-align-self-center ion-text-center">

                <pivot-deck
                    [cardWidth]="350"
                    [deck]="selection"
                    (onCardClick)="onCardClick($event)"
                ></pivot-deck>

            </ion-col>
        </ion-row>

        <ion-row class="flex-grow ion-align-items-center ion-justify-content-center ion-margin-top ion-margin-horizontal">
            <ion-col class="ion-align-self-center ion-text-right">
                
                <ion-button [hidden]="!showGoToCanvas" color="primary" (click)="goToCanvas()">Canvas</ion-button>

            </ion-col>            
        </ion-row>
        
    </ion-grid>    





    <!-- 
    <ion-grid class="center-in-page flex-grow">
        <ion-row class="flex-grow ion-align-items-center ion-justify-content-center ion-margin-top">
            <ion-col class="ion-align-self-center ion-text-center">
                <pivot-deck deck="service.deck"></pivot-deck>
            </ion-col>
        </ion-row>

        <ion-row class="flex-grow ion-align-items-center ion-justify-content-center ion-margin-top">
            <ion-col class="ion-align-self-center ion-text-center">
                <pivot-deck></pivot-deck>
            </ion-col>
        </ion-row>

        <ion-row class="flex-grow ion-align-items-center ion-justify-content-center ion-margin-top">
            <ion-col class="ion-align-self-center ion-text-center">
                <ion-button color="primary" (click)="onCardClick()">Canvas</ion-button>
            </ion-col>
        </ion-row>        
    </ion-grid>
    -->


</ion-content>