<ion-card>
    <ion-card-header>
        <ion-grid>
            <ion-row>
                <ion-col class="ion-text-start" size="11">
                    <b>{{card.card}} - {{card.name}}</b>
                </ion-col>
                <ion-col class="ion-text-end" class="text-success">
                    <i class="fas fa-check-circle"></i>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-header>
    <ion-card-content>{{card.desc}}</ion-card-content>
</ion-card>