<mat-card [class.mat-elevation-z2]="!editting" [class.mat-elevation-z8]="editting">
    <h3 class="title" (click)="startEditting()">Elevator Pitch:</h3>
    <div [hidden]="editting" (click)="startEditting()">
        <p [innerHTML]="pitch_html"></p>
    </div>
    <mat-form-field [hidden]="!editting" class="example-full-width">
        <textarea rows="4" #setFocusField [(ngModel)]="current" matInput (input)="onTextChange()"></textarea>
    </mat-form-field>
    <button [hidden]="!editting" mat-raised-button color="primary" (click)="endEdition()">OK</button>
</mat-card>