<ion-header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <pivot-back-btn (click)="app.history.back();"></pivot-back-btn>
    </nav>
</ion-header> 

<ion-content [fullscreen]="true">
    <div class="container">

        <ion-grid class="flex-grow">

            <ion-row class="ion-padding header">
                <ion-col size="8">
                    <h1>Canvas</h1>
                    <ul>
                        <li>Las <strong>cartas</strong> que se encuentren <strong>sobre el canvas</strong> definirán un nuevo modelo de negocio.</li>
                        <li [hidden]="lockcanvas">Puedes hacer <strong>click sobre el las cartas</strong> para ponerlas o secarlas del canvas.</li>
                        <li>Puedes hacer <strong>click sobre el texto del pitch</strong>, si quieres modificarlo.</li>
                    </ul>
                </ion-col>
                <ion-col size="4" class="d-flex flex-column  ion-justify-content-end">
                    <ion-item>
                        <ion-label position="floating">Producto o Servicio</ion-label>
                        <ion-input ngDefaultControl [(ngModel)]="deck.industria" (keyup)="onIndustriaChange()"></ion-input>
                    </ion-item>
                    <ion-item [hidden]="lockcanvas">
                        <mat-slide-toggle
                        color="default"
                        [checked]="useCardsExtended"
                        (change)="useCardsExtended = $event.checked; "
                        [disabled]="disabled">
                            ampliar cartas
                        </mat-slide-toggle>
                    </ion-item>
                    <ion-item>
                        <mat-slide-toggle
                        color="primary"
                        [checked]="useCanvasExtended"
                        (change)="useCanvasExtended = $event.checked; "
                        [disabled]="disabled">
                            canvas completo
                        </mat-slide-toggle>
                    </ion-item> 

                </ion-col>
            </ion-row>

            <!-- Cartas de cada color: con sus respectivos colores -->
            <ion-row class="">
                <ion-col>
                    <pivot-four-slots
                        [description]="useCardsExtended"
                        [deck]="deck.subset"
                        (oncard)="agregar($event)"
                        (oninit)="onSlotsReady($event)"
                    ></pivot-four-slots>
                </ion-col>
            </ion-row>

            <ion-row class="no-padding">
                <ion-col size="2"></ion-col>
                <ion-col size="8" class="ion-text-left ion-padding">
                    <editable-text
                        matTooltip="click para editar el texto"
                        matTooltipPosition="above"
                        [text]="deck.pitch" (onedit)="onEditPitch($event)"></editable-text>
                </ion-col>
                <ion-col size="2" class="d-flex ion-align-items-end ion-justify-content-end" style="padding-bottom: 16px;">
                    <button mat-raised-button [disabled]="!showPrintBtn" color="primary" class="ion-margin-bottom" (click)="print()">
                        Imprimir
                        <i class="material-icons">print</i>
                    </button>
                </ion-col>
            </ion-row>
        
            <!-- Canvas -->
            <ion-row class="ion-margin-top no-padding canvas">
                <ion-col class="ion-text-center">
                    
                    <ion-grid class="grid-border">
                        <ion-row>
                            <ion-col color="red" class="cuadrante ion-text-center ion-padding">
                                <pivot-card
                                    class="cards-ghost-1 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.red.length == 1"
                                    [card]="deck.canvas.red[0]"
                                ></pivot-card>
                                <pivot-card
                                    class="cards-ghost-2 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.red.length == 2"
                                    [card]="deck.canvas.red[1]"
                                ></pivot-card>                                
                                <pivot-card
                                    class="cards-slot-1 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.red.length > 0"
                                    [card]="deck.canvas.red[0]"
                                    (onclick)="descartar($event)"
                                ></pivot-card>
                                <pivot-card
                                    class="cards-slot-2 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.red.length > 1"
                                    [card]="deck.canvas.red[1]"
                                    (onclick)="descartar($event)"
                                ></pivot-card>                                
                            </ion-col>
                            <ion-col color="blue" class="cuadrante ion-text-center ion-padding">
                                <pivot-card
                                    class="cards-ghost-1 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.blue.length == 1"
                                    [card]="deck.canvas.blue[0]"
                                ></pivot-card>
                                <pivot-card
                                    class="cards-ghost-2 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.blue.length == 2"
                                    [card]="deck.canvas.blue[1]"
                                ></pivot-card>                                  
                                <pivot-card
                                    class="cards-slot-1 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.blue.length > 0"
                                    [card]="deck.canvas.blue[0]"
                                    (onclick)="descartar($event)"
                                ></pivot-card>
                                <pivot-card
                                    class="cards-slot-2 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.blue.length > 1"
                                    [card]="deck.canvas.blue[1]"
                                    (onclick)="descartar($event)"
                                ></pivot-card>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col color="green" class="cuadrante ion-text-center ion-padding">
                                <pivot-card
                                    class="cards-ghost-1 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.green.length == 1"
                                    [card]="deck.canvas.green[0]"
                                ></pivot-card>
                                <pivot-card
                                    class="cards-ghost-2 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.green.length == 2"
                                    [card]="deck.canvas.green[1]"
                                ></pivot-card>                                  
                                <pivot-card
                                    class="cards-slot-1 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.green.length > 0"
                                    [card]="deck.canvas.green[0]"
                                    (onclick)="descartar($event)"
                                ></pivot-card>
                                <pivot-card
                                    class="cards-slot-2 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.green.length > 1"
                                    [card]="deck.canvas.green[1]"
                                    (onclick)="descartar($event)"
                                ></pivot-card>
                            </ion-col>
                            <ion-col color="yellow" class="cuadrante ion-text-center ion-padding">
                                <pivot-card
                                    class="cards-ghost-1 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.yellow.length == 1"
                                    [card]="deck.canvas.yellow[0]"
                                ></pivot-card>
                                <pivot-card
                                    class="cards-ghost-2 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.yellow.length == 2"
                                    [card]="deck.canvas.yellow[1]"
                                ></pivot-card>                                  
                                <pivot-card
                                    class="cards-slot-1 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.yellow.length > 0"
                                    [card]="deck.canvas.yellow[0]"
                                    (onclick)="descartar($event)"
                                ></pivot-card>
                                <pivot-card
                                    class="cards-slot-2 not-expand"
                                    [description]="useCanvasExtended"
                                    *ngIf="deck.canvas.yellow.length > 1"
                                    [card]="deck.canvas.yellow[1]"
                                    (onclick)="descartar($event)"
                                ></pivot-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>





                </ion-col>
            </ion-row>


            <!-- Pitch 
            <ion-row class="ion-padding">
                <ion-col  size="6" offset="3" class="ion-text-center">
                    {{pitch}}
                </ion-col>
            </ion-row>
            -->

            <!-- Botones del footer 
            <ion-row class="flex-grow ion-align-items-center ion-justify-content-center">
                <ion-col class="ion-align-self-center ion-text-center">
                    <ion-button color="primary" (click)="back()">Volver</ion-button>
                </ion-col>
                <ion-col class="ion-align-self-center ion-text-center">
                    <ion-button color="primary" (click)="print()">Print</ion-button>
                </ion-col>
                <ion-col class="ion-align-self-center ion-text-center">
                    <ion-button color="primary" (click)="goHome()">Home</ion-button>
                </ion-col>
            </ion-row>
            -->
            
        </ion-grid>



    </div>

</ion-content>