<ion-header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a href="https://saramendia.wixsite.com/misitio" target="_blank">
                <img class="brand-image" [ngClass]="class" src="assets/img/Pívot-azul.png"/>
            </a>

            <pivot-header [page]="page" [delegate]="true" (ondinamica)="onDinamica($event)"></pivot-header>
            
        </div>
    </nav>
</ion-header>

<ion-content [fullscreen]="true" class="mat-app-background">
    <div class="container">
        <ion-grid class="flex-grow">
            <ion-row class="page-header">
                <ion-col class="col-left ion-text-right">
                    <img class="box" [ngClass]="class" src="assets/img/deck.png"/>
                </ion-col>
                <ion-col class="col-right ion-text-left">
                    <h1>KIT para emprender</h1>
                    <h2>70 Modelos de negocio explicados y combinables</h2>
                    <p>Te ofrecemos explorar tres dinámicas posibles con nuestra <strong>herramienta interactiva online</strong></p>
                    <p>Si estás interesado en una experiencia más completa y con la posibilidad de aplicar más dinámicas (incluso en forma grupal), se encuentra disponible el <b>Kit físico</b> en nuestra <a href="https://saramendia.wixsite.com/misitio" target="_blank">tienda online</a>.</p>
                </ion-col>
            </ion-row>
            <ion-row class="ion-padding">
                <ion-col size="2"></ion-col>
                <ion-col size="8" class="ion-text-left ion-padding">
                    <p>
                        Completá aquí el Producto o Servicio que piensas ofrecer<br>(por ejemplo: vestimenta, alojamiento, gastronomía, software)
                    </p>
                    <!-- -->
                    <pivot-industria-input (onInit)="onIndustriaInit($event)"></pivot-industria-input>
                </ion-col> 
                <ion-col size="2"></ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-between ion-padding">
                <ion-col class="ion-align-self-center ion-text-start">                
                    <button mat-raised-button color="primary" (click)="onDinamica(1)">Dinámica 1</button>
                </ion-col>
                <ion-col class="ion-align-self-center ion-text-center">
                    <button mat-raised-button color="primary" (click)="onDinamica(2)">Dinámica 2</button>
                </ion-col>
                <ion-col class="ion-align-self-center ion-text-end">
                    <button mat-raised-button color="primary" (click)="onDinamica(3)">Dinámica 3</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
