<ion-header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a href="https://www.pivot.com.uy/" target="_blank">
                <img class="brand-image" [ngClass]="class" src="assets/img/Pívot-azul.png"/>
            </a>

            <pivot-header [page]="page" [delegate]="true" (ondinamica)="onDinamica($event)"></pivot-header>
            
        </div>
    </nav>
</ion-header>

<ion-content [fullscreen]="true" class="mat-app-background">
    <div class="container">        

        <!-- Cabezal -->
        <div class="row page-header">
            <div class="col-md-6 col-left">
                <img class="box" [ngClass]="class" (click)="debug()" src="assets/img/deck.png"/>
            </div>
            <div class="col-md-6 col-right">
                <h1>{{local.string.home_h_1}}</h1>
                <h2>{{local.string.home_h_2}}</h2>
                <h2></h2>
                <p class="d-block d-md-none d-lg-block">{{local.string.home_h_3_}} <strong>{{local.string.home_h_3_b}}</strong></p>
                <p class="d-block d-md-none d-lg-block">{{local.string.home_h_4_}} <b>{{local.string.home_h_4_b}}</b> {{local.string.home_h_4_2}} <a href="https://www.pivot.com.uy/" target="_blank">{{local.string.home_h_4_link}}</a>.</p>
            </div>
        </div>

        <div class="mt-5 text-left d-none d-md-block d-lg-none">
            <p>{{local.string.home_h_3_}} <strong>{{local.string.home_h_3_b}}</strong></p>
            <p>{{local.string.home_h_4_}} <b>{{local.string.home_h_4_b}}</b> {{local.string.home_h_4_2}} <a href="https://www.pivot.com.uy/" target="_blank">{{local.string.home_h_4_link}}</a>.</p>
        </div>

        <div class="row mt-4">
            <div class="offset-md-2 col-md-8 text-left">
                <p>
                    {{local.string.home_b_1_1}}<br>{{local.string.home_b_1_2}}
                </p>
                <pivot-industria-input class="underline" (onInit)="onIndustriaInit($event)"></pivot-industria-input>
            </div>
        </div>

        <div class="row mt-3 page-footer">
            <div class="col-md-4 mt-3 d-flex flex-column" *ngFor="let i of [1,2,3]">
                <div class="button flex-grow-1" (click)="onDinamica(i)">
                    <div class="row">
                        <div class="col-auto col-img">
                            <img class="img" [ngClass]="class" src="assets/icon/btn-icon-white-dinamica-{{i}}.png"/>
                        </div>
                        <div class="col texto d-flex flex-column justify-content-center">
                            <span class="dinamica">{{local.string['home_f_din_' + i]}}</span>
                            <span class="titulo">{{local.string['home_f_tit_' + i]}}</span>
                            <span class="desc">{{local.string['home_f_desc_' + i]}}</span>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>


    </div>
</ion-content>
