:host {
    display: block;
    height: 100%;
}

.slot-viewport {
    position: relative;
    height: 100%;
}

.slot-container {
    height: 100%;
    // & > pivot-card {
    //     height: 100%;
    // }
    /*
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    */
}

// animation ----------------------
.animated {
    .slot-container {
        position: relative;
        overflow: hidden;
    }
    .main-card {
        opacity: 0.3;
    }
    .list-container {

        position: absolute;
        top: 0px;
        &.slow {
            transition: transform 2s ease-out;
        }        
    }

    
}
