:host {
    display: block;
    height: 100%;
}

.slot-viewport {
    position: relative;
    height: 100%;
}

.slot-container {
    height: 100%;
    // & > pivot-card {
    //     height: 100%;
    // }
    /*
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    */
}