:host {
    display: block;
    height: 100%;
}

.slot-viewport {
    position: relative;
    height: 100%;
}

.slot-container {
    height: 100%;
    // & > pivot-card {
    //     height: 100%;
    // }
    /*
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    */
}

// animation ----------------------
.animated {
    .slot-container {
        position: relative;
        overflow: hidden;
        background-color: #1c3542;
        border-radius: 8px;        
    }
    &:not(.showminicard) {
        .main-card {
            opacity: 0.0;
        }
    }
    &.showminicard {
        .list-container {
            opacity: 0.0;
        }
    }
    &.size-1 { .list-container.slow { transition-duration: 2s; } }
    &.size-2 { .list-container.slow { transition-duration: 3s; } }
    &.size-3 { .list-container.slow { transition-duration: 4s; } }
    &.size-4 { .list-container.slow { transition-duration: 5s; } }

    .list-container {
        position: absolute;
        top: 0px;
        &.slow {
            transition-property: transform;
            transition-timing-function: ease-out;
        }

        pivot-card {
            margin-bottom: 40px;
        }
    }   
}
