<button class="navbar-toggler" mat-button [matMenuTriggerFor]="main_menu">
    <span class="navbar-toggler-icon"></span>
</button>
<mat-menu #main_menu="matMenu" xPosition="before">



    <!-- -------------------------- 
    <button color="red" mat-menu-item (click)="onDebug()">Debug</button>
     -------------------------- -->

    

    <button mat-menu-item color="blue" (click)="goLanding()">Comprar</button>
    <button *ngIf="!delegate" mat-menu-item (click)="gotoHome()">Inicio</button> 
    <button mat-menu-item (click)="gotoCartas()">Cartas</button> 
    <button mat-menu-item (click)="onDinamica(1)">1 - Selección manual</button>
    <button mat-menu-item (click)="onDinamica(2)">2 - Selección por filtros</button>
    <button mat-menu-item (click)="onDinamica(3)">3 - ¡Probá suerte!</button>
    <button mat-menu-item (click)="goLanding()" >Sobre Pivot</button>
</mat-menu>

<div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">


        <!-- -------------------------- 
        <li class="nav-item">
            <button color="red" mat-button (click)="onDebug()">Debug</button> 
        </li>
         -------------------------- -->
        
        
        
        <li class="nav-item">
            <button mat-button color="blue" (click)="goLanding()">Comprar</button>
        </li>
        <li class="nav-item" *ngIf="!delegate">
            <button mat-button (click)="gotoHome()">Inicio</button> 
        </li>
        <li class="nav-item">
            <button mat-button (click)="gotoCartas()">Cartas</button> 
        </li>
        <li class="nav-item dropdown">
            <button mat-button [matMenuTriggerFor]="din_menu">
                Dinámicas
                <i class="material-icons">expand_more</i>
            </button>
            <mat-menu #din_menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="onDinamica(1)">1 - Selección manual</button>
                <button mat-menu-item (click)="onDinamica(2)">2 - Selección por filtros</button>
                <button mat-menu-item (click)="onDinamica(3)">3 - ¡Probá suerte!</button>
            </mat-menu>
        </li>
        <li class="nav-item">
            <button (click)="goLanding()" mat-button> Sobre Pivot</button>
        </li>
    </ul>
</div>