<ion-header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <pivot-back-btn (click)="app.history.back();"></pivot-back-btn>
        <pivot-header [page]="page" [delegate]="false"></pivot-header>
    </nav>
</ion-header> 

<ion-content [fullscreen]="true">

    <div class="container">

        
        <ion-grid class="flex-grow">
            
            <ion-row class="ion-padding">
                <ion-col>
                    <h1>Nuestras cartas</h1>
                    <p>Te invitamos a que conozcas nuestras cartas, con las que además te invitamos a participar de algunas de las dinámicas que tenemos para construir modelos denegocios innovadores.</p>
                    <p>Podrás deslizar las cartas para verlas o podrás hacer <b>click sobre alguno de los botones</b> para filtrarlas según el <b>color</b></p>
                </ion-col>
            </ion-row>  
        
            <ion-row  class="ion-padding">
                <ion-col size="4">
                    <button mat-raised-button color="dark" (click)="filterColor('all')">
                        Ver todas las cartas
                    </button>                    
                </ion-col>
                <ion-col size="8" class="ion-text-right">
                    <button mat-raised-button color="red" (click)="filterColor('red')">
                        Qué?
                    </button>&nbsp;
                    <button mat-raised-button color="blue" (click)="filterColor('blue')">
                        Quién?
                    </button>&nbsp;
                    <button mat-raised-button color="green" (click)="filterColor('green')">
                        Cómo?
                    </button>&nbsp;
                    <button mat-raised-button color="yellow" (click)="filterColor('yellow')">
                        Cuánto?
                    </button>             
                </ion-col>
            </ion-row>

            <ion-row  class="ion-padding">
                <pivot-deck
                    [cardWidth]="350"
                    [deck]="availables"
                ></pivot-deck>
            </ion-row>
            

        </ion-grid>

    </div>    




</ion-content>