/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// -- Font Aewsome
// https://stackoverflow.com/a/51785216/2274525
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts" !default;
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

// Material Themeing
@import 'theme/pivot-theme.scss';

// Material icons font
@import 'theme/material-icons.scss';


// FONT: https://www.onlinewebfonts.com/download/c5bd605b45237a12c99133fa9d7cae49
// @import url(//db.onlinewebfonts.com/c/c5bd605b45237a12c99133fa9d7cae49?family=HelveticaW01-Roman);

@font-face {font-family: "HelveticaW01-Roman"; src: url("//db.onlinewebfonts.com/t/c5bd605b45237a12c99133fa9d7cae49.eot"); src: url("//db.onlinewebfonts.com/t/c5bd605b45237a12c99133fa9d7cae49.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c5bd605b45237a12c99133fa9d7cae49.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c5bd605b45237a12c99133fa9d7cae49.woff") format("woff"), url("//db.onlinewebfonts.com/t/c5bd605b45237a12c99133fa9d7cae49.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c5bd605b45237a12c99133fa9d7cae49.svg#HelveticaW01-Roman") format("svg"); }

* {
    font-family: "HelveticaW01-Roman", sans-serif;
}

// fixes -----------
ion-grid.center-in-page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
// ion-slide > pivot-card {
//     height: 100%;
// }

.flex-grow-1, .flex-grow {
    flex-grow: 1;
}

// ion-grid padding fixes 
ion-grid.no-padding {
    &, & > ion-row, & > ion-row > ion-col {
        --ion-padding: 0px;
        --ion-grid-row-padding: 0px;
        --ion-grid-row-padding-sm: 0px;
        --ion-grid-row-padding-md: 0px;
        --ion-grid-row-padding-lg: 0px;
        --ion-grid-row-padding-xl: 0px;
        --ion-grid-column-padding: 0px;
        --ion-grid-column-padding-sm: 0px;
        --ion-grid-column-padding-md: 0px;
        --ion-grid-column-padding-lg: 0px;
        --ion-grid-column-padding-xl: 0px;
        --ion-grid-padding: 0px;
        --ion-grid-padding-lg: 0px;
        --ion-grid-padding-md: 0px;
        --ion-grid-padding-sm: 0px;
        --ion-grid-padding-xl: 0px;
        --ion-grid-padding-xs: 0px;
        &.ion-padding {
            --ion-padding: 16px;
        }
    }
}
ion-row.no-padding, ion-col.no-padding {
    &, & > ion-col {
        --ion-padding: 0px;
        --ion-grid-row-padding: 0px;
        --ion-grid-row-padding-sm: 0px;
        --ion-grid-row-padding-md: 0px;
        --ion-grid-row-padding-lg: 0px;
        --ion-grid-row-padding-xl: 0px;
        --ion-grid-column-padding: 0px;
        --ion-grid-column-padding-sm: 0px;
        --ion-grid-column-padding-md: 0px;
        --ion-grid-column-padding-lg: 0px;
        --ion-grid-column-padding-xl: 0px;
        --ion-grid-padding: 0px;
        --ion-grid-padding-lg: 0px;
        --ion-grid-padding-md: 0px;
        --ion-grid-padding-sm: 0px;
        --ion-grid-padding-xl: 0px;
        --ion-grid-padding-xs: 0px;
        &.ion-padding {
            --ion-padding: 16px;
        }        
    }
}

// ion-grid with borders
ion-grid.grid-border {
    border-top: solid 1px var(--color, black);
    border-left: solid 1px var(--color, black);
    ion-col {
        border-bottom: solid 1px var(--color, black);
        border-right: solid 1px var(--color, black);        
    }
}

hr {
    background-color: lightgrey;
}

// material fixes  -----------------------------
a[mat-button] {
    text-decoration: none;
}


// colors ----------------------------


.ion-color-blue, [color=blue] {
    --ion-color-base: var(--ion-color-blue, #3880ff) !important;
    --ion-color-base-rgb: var(--ion-color-blue-rgb, 56, 128, 255) !important;
    --ion-color-contrast: var(--ion-color-blue-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-blue-shade, #3171e0) !important;
    --ion-color-tint: var(--ion-color-blue-tint, #4c8dff) !important;
}

.ion-color-green, [color=green] {
    --ion-color-base: var(--ion-color-green, #2dd36f) !important;
    --ion-color-base-rgb: var(--ion-color-green-rgb, 45, 211, 111) !important;
    --ion-color-contrast: var(--ion-color-green-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-green-shade, #28ba62) !important;
    --ion-color-tint: var(--ion-color-green-tint, #42d77d) !important;
}

.ion-color-red, [color=red] {
    --ion-color-base: var(--ion-color-red, #eb445a) !important;
    --ion-color-base-rgb: var(--ion-color-red-rgb, 235, 68, 90) !important;
    --ion-color-contrast: var(--ion-color-red-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-red-shade, #cf3c4f) !important;
    --ion-color-tint: var(--ion-color-red-tint, #ed576b) !important;
}

.ion-color-yellow, [color=yellow] {
    --ion-color-base: var(--ion-color-yellow, #ffc409) !important;
    --ion-color-base-rgb: var(--ion-color-yellow-rgb, 255, 196, 9) !important;
    --ion-color-contrast: var(--ion-color-yellow-contrast, #000) !important;
    --ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb, 0, 0, 0) !important;
    --ion-color-shade: var(--ion-color-yellow-shade, #e0ac08) !important;
    --ion-color-tint: var(--ion-color-yellow-tint, #ffca22) !important;
    
}

b[color], span[color] {
    color: var(--ion-color-base) !important;
}

b[color=blue], span[color=blue] {
    color: #629bff !important;
}

b[color=red], span[color=red] {
    color: #ed576b !important;
}