::ng-deep .mat-form-field-wrapper{
    margin-bottom: -0.6em;
}

ion-row.slots {
    & > ion-col {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        & > * {
            margin-top: 13px;
        }
    }
}