<ion-header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <pivot-back-btn (click)="app.history.back();"></pivot-back-btn>
            <pivot-header [page]="page" [delegate]="false"></pivot-header>
        </div>
    </nav>
</ion-header> 

<ion-content [fullscreen]="true">

    <div class="container">

        <ion-grid class="flex-grow">

            <!-- bienvenida -->
            <ion-row class="ion-padding">
                <ion-col>
                    <h1>{{local.string.filt_h_1}}</h1>
                    <p>{{local.string.filt_h_2}} <strong>{{deck.industria}}</strong>.</p>
                    <p><strong>{{local.string.filt_h_3_b}}</strong> {{local.string.filt_h_3_1}} <strong>{{local.string.filters}}</strong> {{local.string.filt_h_3_2}}.</p>
                </ion-col>
            </ion-row>

            <ion-row class="ion-padding-vertical">
                <ion-col size="2"></ion-col>
                <ion-col size="8">
                    <ion-item>
                        <ion-label position="floating">{{local.string.prod_or_serv}}</ion-label>
                        <ion-input ngDefaultControl [(ngModel)]="deck.industria" (keyup)="deck.updatePitch()"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="2"></ion-col>
            </ion-row>
        
            <!-- formulario -->
            <ion-row class="ion-padding-horizontal" *ngFor="let q of deck.filters; let n = index">
                <ion-col size="8" class="no-padding d-flex ion-align-self-center ion-justify-content-start ion-text-left">
                    <span>{{local.string[q.text]}}:</span>
                </ion-col>
                <ion-col size="4" class="no-padding d-flex flex-column ion-align-self-center ion-justify-content-end ion-text-right">
                    <form>
                        <mat-form-field appearance="fill" class="no-padding d-block">
                            <mat-select (selectionChange)="onSelectionChange(n,$event)">
                                <mat-option *ngFor="let opt of q.options; let i = index" value="{{i}}">{{local.string[opt.text]}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </ion-col>
            </ion-row>  
            
            <!-- goto canvas -->
            <ion-row class="counter flex-grow ion-margin-vertical">
                <ion-col class="ion-text-left ion-align-items-end d-flex">
                    <span [hidden]="deck.selection.length != 0">{{local.string.must_select}} </span>
                    <span [hidden]="deck.selection.length == 0">{{local.string.have_selected}} {{deck.selection.length}} {{deck.selection.length == 1 ? local.string.card : local.string.cards}} </span>
                </ion-col>
                <ion-col class="ion-text-right">
                    <button mat-raised-button color="accent" (click)="clearAll()">
                        <span class="d-none d-md-inline">{{local.string.clean}}</span>
                        <i class="material-icons">delete</i>
                    </button>
                    &nbsp;
                    <button mat-raised-button [disabled]="!showGoToCanvas" color="primary" (click)="goToCanvas()">
                        <span class="d-none d-md-inline">{{local.string.canvas}}</span>
                        <i class="material-icons">navigate_next</i>
                    </button>
                </ion-col>
            </ion-row>

            <pivot-counter [deck]="deck.selection" (oninit)="onCounterInit($event)"></pivot-counter>

            <!-- Seleccion -->
            <ion-row *ngIf="counter" class="no-padding slots flex-grow ion-align-items-start ion-justify-content-start ion-margin-top">
                <ion-col size="6" size-sm>
                    <pivot-label-btn [hidden]="deck.selection.length == 0" color="red"></pivot-label-btn>
                    <color-card-list
                        color="red"
                        [deck]="deck.selection"
                        (oninit)="onListReady('red', $event)"
                        (onclick)="onCardClick($event)"
                    ></color-card-list>
                </ion-col>
                <ion-col size="6" size-sm>
                    <pivot-label-btn [hidden]="deck.selection.length == 0" color="blue"></pivot-label-btn>
                    <color-card-list
                        color="blue"
                        [deck]="deck.selection"
                        (oninit)="onListReady('blue', $event)"
                        (onclick)="onCardClick($event)"
                    ></color-card-list>
                </ion-col>
                <ion-col size="6" size-sm>
                    <pivot-label-btn [hidden]="deck.selection.length == 0" color="green"></pivot-label-btn>
                    <color-card-list
                        color="green"
                        [deck]="deck.selection"
                        (oninit)="onListReady('green', $event)"
                        (onclick)="onCardClick($event)"
                    ></color-card-list>
                </ion-col>
                <ion-col size="6" size-sm>
                    <pivot-label-btn [hidden]="deck.selection.length == 0" color="yellow"></pivot-label-btn>
                    <color-card-list
                        color="yellow"
                        [deck]="deck.selection"
                        (oninit)="onListReady('yellow', $event)"
                        (onclick)="onCardClick($event)"
                    ></color-card-list>
                </ion-col>                                                
            </ion-row>
            
            
        </ion-grid>

    </div>

</ion-content>